<% provide(:title, "About") %>

<div class="text-center" id="about">
  <h1 class="text-center">BPM and Your Workout</h1>
  <p>by: Kay Ireland  |  Last Updated: Jan 11, 2014</p>
  <p class="lead workout-txt">
    Music can be a major motivating factor when it comes to exercise. A study published in a 2006 issue of "Journal of Sports Medicine and Physical Fitness" found that music can be a helpful distraction when exercising, reducing the stress you may feel from fatigue. The beats per minute of a song can help you time reps and use a cadence when participating in cardiovascular activity. The right tracks based on beats per minute can help you focus during each component of your workout.
  </p>
  <br>
  <%= render "warm_up" %> <h2>Warm-up</h2>
  <p class="lead workout-txt">
    Every workout should begin with a proper warm-up. An ideal warm-up combines the stretching of each major muscle group with dynamic stretching, like jogging on the spot or dancing to warm the muscles. Warm-up music should be in the 115 to 120 beats per minute, or bpm, range. The trick is to choose a song that is motivating for you to get started with your workout that has a slow tempo, but isn't too sleepy. Try songs such as "Teenage Dream" by Katy Perry, "Blah Blah Blah" by Ke$ha or "Billie Jean" by Michael Jackson.
  </p>
  <br>
  <%= render "weights" %> <h2>Weight Lifting</h2>
  <p class="lead workout-txt">
    When lifting weights, it's important to increase the bpm of the music without going too fast. Listening to a too-fast song could inspire you to attempt to lift faster. Not only could this cause injuries from poor form, but it's less effective than lifting with slow and steady control. Songs with a mid-range bpm of 130 to 140 with a clear beat and heavy bass are best, since it's easy to hear the downbeat as you lift. Songs like "Somebody Told Me" by The Killers, "Mercy" by Duffy and "The Way You Move" by Outkast all have the right steady beat.
  </p>
  <br>
  <%= render "cardio" %> <h2>Cardio</h2>
  <p class="lead workout-txt">
    If you're a slow to moderately fast walker, choose songs that are in the 120 to 140 bpm range. If you're looking for your music to help you stay pumped up for faster runs, try using music in the 145 to 160 bpm range. This is the pace for a run as opposed to even a faster walk. Select music that is upbeat and enjoyable. Not only can the music help you stay motivated and push yourself, you can also use the beat to time your cadence for proper breathing. Songs such as "Run" by Gnarls Barkley, "Speechless" by Lady Gaga and "Run It" by Grandaddy Souf can all help get you in the mood to power through your cardio workout.
  </p>
  <br>
  <%= render "cooldown" %> <h2>Cool Down</h2>
  <p class="lead workout-txt">
    Once you're finished exercising, it's time to reduce your heart rate slowly to avoid dizziness after exercising. When selecting songs for a cool down, choose tracks that are relaxing and help you top off your workout with positive feelings. You'll want to drop back down to the 120 bpm area for a cool down that includes stretching and possibly meditation. "Won't Go Home Without You" by Maroon 5 and "Under Pressure" by David Bowie and Queen can help you mellow out at the right pace to end your workout on a high note.
  </p>
  <br>
</div>