<% provide(:title, "Home") %>

<img src="http://i.imgur.com/XlUJk8H.jpg" id="bg-home"/>

<div class="text-center home-pg">
  <h1>on.BEAT</h1>
  <p class="lead">get up and get out!</p>
  <a class="btn btn-lg btn-warning" href="/signup" role="button">Sign Up!</a>
</div>