<% provide(:title, "Home") %>

<div class="row">
  <div class="col-sm-12 text-center home-pg"> 
    <%= render "main_logo" %>
    <p class="lead">get up and get out!</p>
    <a class="btn btn-lg btn-warning" href="/signup" role="button">Sign Up!</a>
  </div>
</div>