<% provide(:title, "Sign In") %>

<div class="col-sm-12 text-center" id="signin">
  <h1>Sign In</h1>
  <%= render 'form' %>
  <br/>
  <p class="lead text-center"><%= link_to "Sign up instead!", signup_path %></p>
</div>
