<% provide(:title, @user.name) %>
<div class="row">
  <div class="col-sm-12 text-center">
    <h1>Welcome <%= @user.name %>!</h1>
    <p class="lead">Registered email: <%= @user.email %></p>
  </div>
</div>


<div class="col-sm-12 text-center">
  <div class="profile-btn" href="/playlists/new"><i class="fa fa-music"> New Playlist</i></div>
</div>
<div class="col-sm-12 text-center">
  <div class="profile-btn" href="/playlists"><i class="fa fa-star"> My Playlists</i></div>
</div>
<div class="col-sm-12 text-center">
  <div class="profile-btn" href="/songs"><i class="fa fa-search"> New Song Search</i></div>
</div>
<div class="col-sm-12 text-center">
  <div class="profile-btn" href="/about"><i class="fa fa-question"> About BPM</i></div>
</div>


