<% unless @results.nil? %>
  <table class="table table-hover table-responsive text-center" id="search-table">
    <tr>
      <th class="text-center">Song Title</th>
      <th class="text-center">Artist Name</th>
      <th class="text-center">Add to Playlist?</th>
    </tr>
      <%= render 'search_results' %>
  </table>
<% end %>