<% provide(:title, "Search") %>

<div class="col-12-sm" id="search">
  <h1 class="text-center">Song Search</h1>
  <div class="col-sm-12 text-center">
    <p>Select your search parameters to begin.</p>   
  </div>
  <%= render 'search_form' %>
  <br/>
    <%= render 'results' %>
</div>