@import "bootstrap";
@import url(//fonts.googleapis.com/css?family=Raleway:400,700|Montserrat+Subrayada:700);

body {
  font-family: 'Raleway', sans-serif;
  background-color: black;
}

h1 {
  font-family: 'Montserrat Subrayada', sans-serif;
}
#bkgd-img {
  position: fixed; 
  top: 0; 
  left: 0;
  opacity: 0.8;  
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}

/* btns */

.btn {
  border-radius: 0px;
  font-size: 16px;
}

.btn-info {
  border: none;
}

.btn-info a {
  color: white;
  text-decoration: none;
}


#search_btn {
  margin: 15px;
}

#profile_btns {
  a {
  color: white;
  }
}

#playlist_name {
  margin-top: 20px;
  margin-bottom: 30px;
}

.table {
  padding: 20px;
}

#playlist_name {
  font-size: 36px;
}

.jumbotron {
  width: 50%;
  padding-top: 10px;
  margin-left: auto;
  margin-right: auto;
  font-size: 16px;
  height: 100%;
  background: transparent;
}

.jumbotron table {
  background: gray;
  opacity: 0.8; 
}

.home-pg{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  font-size: 16px;
  height: 100%;
  background: transparent;
  h1 {
    font-size: 75px;
  }
  p {
    font-size: 40px;
  }
  .btn {
    font-size: 25px;
  }
}

.user-form {
  width: 40%;
  margin: 0 auto;
  p a {
    color: white;
  }
}

#bg-home {
  position: fixed; 
  top: 0; 
  left: 0;  
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}

#view {
  margin-bottom: 0px;
}
/* nav */

.navbar-default {
  border-radius: 0px;
  font-size: 18px;
  background-color: black; 
  border-color: black;
}

.navbar-brand {
  a {
    color: #E5DFC5;
    text-decoration: none;
    font-size: 28px;
    font-family: 'Montserrat Subrayada', sans-serif;
  }
}

/* forms */

#signin {
  width: 50%;
}

#signup {
  width: 50%;
}

.sign_note {
  color: white;
}

.table {
  .btn-warning a {
    color: white;
    text-decoration: none;
  }
}

th.text-center {
  font-weight: 700;
  font-size: 20px;
  }
td {
  font-size: 20px;
}

#spacer {
  color: transparent;
}

#min_tempo {
  border-radius: 0px;
  height: 36px;
  border-color: white;
}

#max_tempo {
  border-radius: 0px;
  height: 36px;
  border-color: white;
}

#style {
  border-radius: 0px;
  height: 36px;
  border-color: white;
}

#song_playlist_id {
  border-radius: 0px;
  height: 36px;
  border-color: white;
}

#about {
      /* IE8 and below */
    background: rgb(54, 54, 54);
    /* all other browsers */
    background: rgba(54, 54, 54, 0.5);
    color: #E5DFC5;
    h1 {
      color: white;
    }
    h2 {
      font-weight: 700;
      color: white;
    }
  }

