/* font */
body {
  font-family: 'Raleway', sans-serif;
  background-color: black;
}

h1 {
  font-family: 'Montserrat Subrayada', sans-serif;
}


/* btns */

.btn {
  border-radius: 0px;
  font-size: 16px;
}

.btn-info {
  border: none;
}

.btn-info a {
  color: white;
  text-decoration: none;
}

#search_btn {
  margin: 15px;
}

#profile_btns {
  a {
  color: white;
  }
}

.table {
  padding: 20px;
}

#playlist_name {
  font-size: 36px;
}

.jumbotron {
  border-radius: 0px;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
/*  background: #5B6466;
*/  font-size: 16px;
  height: 100%;
  background: transparent;
}

/* nav */

.navbar-default {
  border-radius: 0px;
  font-size: 18px;
  color: #E5DFC5;
  background-color: #454543; 
  border-color: #454543;
}

.navbar-brand {
  a {
    color: #E5DFC5;
    text-decoration: none;
    font-size: 28px;
    font-family: 'Montserrat Subrayada', sans-serif;
  }
}

/* forms */

#signin {
  width: 50%;
}

#signup {
  width: 50%;
}

/* tables */

