@import "bootstrap";
@import url(//fonts.googleapis.com/css?family=Muli:300,400|Raleway:700);

/* -----------------------
    OVERALL STYLES
----------------------- */
a {
  color: white;
  text-decoration: none;
}
#bkgd-img {
  position: fixed; 
  top: 0; 
  left: 0;
  opacity: 0.8;  
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}
body {
  display: block;
  font-family: 'Muli', sans-serif;
  background-color: black;
  max-width: 100%;
  margin: 0;
  padding-bottom: 15px;
}
.fa {
  color: white;
  text-decoration: none;
}
h1 {
  font-family: 'Raleway', sans-serif;
  font-size: 60px;
}
.previous {
  text-decoration: none;
  :hover {
    color: white;
  }
}
.row {
  background-color: transparent;
}
select#min_tempo {
  border-radius: 20px;
}
.table {
  opacity: 0.6; 
  background-color: black;
  padding: 20px;
  color: white;
  border-radius: 10px;
  width: 60%;
  margin: 0 auto;
  margin-bottom: 20px;
  td {
    font-size: 25px;
    font-weight: 300;
  }
  th {
    font-size: 25px;
    color: #F0AD4E;
  }
}
.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: #C6C2BE;
  color: black;
}
.table.table-hover.table-responsive {
  overflow-x: auto;
}
/* ----- btns ------ */
.btn {
  border-radius: 30px;
  font-size: 20px;
  border: none;
  a {
  color: white;
  text-decoration: none;
  }
}
/* -------------------------
        HOME PAGE
 ------------------------- */
.home-pg{
  p {
    font-size: 40px;
  }
  .btn {
    font-size: 25px;
    width: 30%;
  }
}
.main-logo {
  width: 50%;
  height: auto;
  margin-top: 40px;
}
/* -------------------------
       SIGNIN/UP PAGES
 ------------------------- */
form {
  margin: 0 auto;
  width: 40%;
}
/* -------------------------
        PROFILE PAGE
 ------------------------- */
.profile-btn {
  background-color: #F0AD4E;
  border-radius: 30px;  
  color: white;
  font-size: 20px;
  margin: 0 auto;
  padding: 15px;
  margin-bottom: 15px;
  width: 15%;
 }
/* -------------------------
        PLAYLIST PAGE
 ------------------------- */
input#playlist_name {
  margin-top: 20px;
  margin-bottom: 30px;
  margin-left: 0 auto;
  margin-right: 0 auto;
}
#view {
  margin-top: 50px;
}
#show-playlist-btns {
  margin-bottom: 15px;
}
/* -------------------------
        NAV
 ------------------------- */
.navbar-default {
  border-radius: 0px;
  font-size: 18px;
  background-color: black; 
  border-color: black;
  min-width: 100%;
  height: auto;
}
.navbar-brand {
  width: 150px;
  height: auto;
  padding: 0px;
  padding-left: 15px;
  padding-right: 15px;
  a {
    text-decoration: none;
  }
}
.navbar-text {
  :hover {
    color: darkgrey;
  }
}
/* -------------------------
        SEARCH PAGE 
 ------------------------- */
#min_tempo {
  height: 36px;
  border-color: white;
}
#max_tempo {
  height: 36px;
  border-color: white;
}
#style {
  height: 36px;
  border-color: white;
}
#song_playlist_id {
  border-radius: 0px;
  height: 36px;
  border-color: white;
  border-color: darkslategrey;
  background-color: darkslategrey;
}
.table {
  .btn-warning a {
    text-decoration: none;
    color: white;
  }
}
.search-btn {
  width: 60%;
  height: auto;
  margin: 15px;
}
select {
  margin: 5px;
  font-size: 20px;
}
/* ----------------------
        ABOUT PAGE 
 ------------------------- */
#about {
  /* IE8 and below */
  background: rgb(54, 54, 54);
  /* all other browsers */
  background: rgba(54, 54, 54, 0.5);
  color: #E5DFC5;
  width: 70%;
  margin: 0 auto;

  h1 {
    color: white;
  }
  h2 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    color: white;
  }
}
#workout {
  background-color: #A0D468;
  border-radius: 50%;
}
.workout-txt {
  width: 60%;
  margin: 0 auto;
}
/* ----------------------
        ICONS 
 ------------------------- */
 .fa-eye {
  color: #A0D468;
  font-size: 40px;
 }
  .fa-trash-o {
  color: #DA4453;
  font-size: 40px;
 }
/* ----------------------
        MEDIA QUERIES 
 ------------------------- */
@media only screen 
and (max-width : 700px) {
  .col-sm-12 {
    padding: 0px;
  }
  .profile-btn {
    font-size: 25px;
    width: 100%;
  }
  h1 {
    font-size: 40px;
  }
  .home-pg{
    p {
      font-size: 30px;
    }
    .btn {
      font-size: 25px;
      width: 40%;
    }
  }
  form {
    margin: 0 auto;
    width: 70%;
  }
  .table {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 20px;
    td {
      font-size: 20px;
      max-width: 250px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    th {
      font-size: 20px;
    }
  }
  .btn-lg {
    font-size: 15px;
  }
}