<% provide(:title, "My Playlists") %>

<div class="col-sm-12">
    <h1 class="text-center">All Playlists</h1>
      <table class="table table-hover text-center">
        <tr>
          <th class="text-center">Playlist Names</th>
          <th class="text-center">View</th>
          <th class="text-center">Delete</th>
        </tr>
        <% @playlists.each do | playlist | %>
          <tr>     
            <td><%= playlist.name%></td>
            <td><%= link_to playlist_path(playlist) do %>
                  <i class="fa fa-eye"></i>
                <% end %></td>
            <td><%= link_to playlist_path(playlist), method: :delete, data: { confirm: 'Whoa. Are you sure?'} do %>
                  <i class="fa fa-trash-o"></i> 
                <% end %></td>
          </tr>
        <% end %>
      </table>
    <div class="text-center">
        <div class="btn btn-lg btn-warning"><i class="fa fa-music"></i> <%= link_to 'New Playlist', new_playlist_path %></div>
    </div>
</div>



