<% provide(:title, @playlist.name) %>

<h1 class="text-center">View Playlist</h1>

<div class="jumbotron"> 
  <br/>
  <p class="lead text-center"> <%=@playlist.name%> </p>
   <!-- iterate over songs to display on page-->
</div>

